.button {
  margin-right: 20px;
  font-size: 30px;
}

.form {
  margin-top: 10px;
  font-size: 30px;
  border: 1px;
  border-color: black;
}
.ninja {
  margin-top: 25px;
  font-size: 30px;
  text-align: center;
  color: brown;
}

.input {
  margin-right: 20px;
}
